@using ProjectF.WebUI.Models


@if (Elements.Length > 0)
{
    <Table DataSource="Elements">
        <Column @bind-Field="@context.Name" Title="Nombre" Sortable />
        <Column Style="text-align: right" Width="70" @bind-Field="@context.PercentValue" Title="Porcentage"/>

        <ActionColumn Title="Acción" Style="text-align: right">
            <Space>
                <SpaceItem>
                    <Button Shape="circle" Icon="edit" OnClick="()=> OnClickDrawerEdit.InvokeAsync(context)" />
                </SpaceItem>
            </Space>
            <Space>
                <SpaceItem>
                    <Popconfirm Placement="@PlacementType.Top"
                                Title="@("Estas seguro de borrar este impuesto")"
                                OkText="Sí"
                                CancelText="No"
                                OnConfirm="()=> OnClickDelete.InvokeAsync(context.Id)">
                        <Button Shape="circle" Icon="delete" Danger />
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
}
else
{
    <Empty />
}


@code {
    [Parameter]
    public Tax[] Elements { get; set; }

    [Parameter]
    public EventCallback<Tax> OnClickDrawerEdit { get; set; }

    [Parameter]
    public EventCallback<long> OnClickDelete { get; set; }
}
