@layout BlankLayout
@page "/confirmemail/{Token}/{Email}"
@inherits RegistrationContainerHandler

<div class="fixed inset-0 flex items-center justify-center" style="background-color: rgba(0,0,0,0.3);">
    <div class="max-w-lg p-8 sm:pb-4 bg-white rounded shadow-lg text-center sm:text-left">

        <div class="text-xl sm:text-2xl font-semibold mb-6 flex flex-col sm:flex-row items-center">
            <div class="bg-green-200 p-2 rounded-full flex items-center mb-4 sm:mb-0 sm:mr-2">
                <svg class="text-green-800 inline-block w-5 h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"></path></svg>
            </div>
            Email confirmado, bienvenido
        </div>
        <p>Para empezar a usar <span class="text-base text-indigo-600 font-semibold">Project-F</span>, has clic en <span class="font-bold">Iniciar Sesi&oacute;n</span>.</p>
        <div class="mt-8 pt-8 sm:pt-4 border-t -mx-8 px-8 flex flex-col sm:flex-row justify-end leading-relaxed">
            <button @onclick="ConfirmedEmail"
                    class="font-bold mt-4 sm:mt-0 sm:ml-4 px-8 py-3 sm:py-2 rounded bg-purple-700 text-gray-100 hover:bg-purple-900 transition duration-300 text-center" href="/signin" >
                Iniciar Sesi&oacute;n
            </button>
        </div>
    </div>
</div>

@code {

}
