@layout BlankLayout
@page "/forgotpassword"
@inherits ForgotPasswordContainerHandler

<div class="min-h-screen bg-white flex">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm">
            <div>
                <h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">
                    Restablecer su contraseña
                </h2>

                <p class="mt-2 text-sm leading-5 text-gray-600 max-w">
                    Ingrese el correo electrónico asociado con su cuenta y le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.
                </p>
            </div>

            <div class="mt-8">
                <div class="mt-6">
                    @*<form action="#" method="POST">
                            <div>
                                <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
                                    Email
                                </label>
                                <div class="mt-1 rounded-md shadow-sm">
                                    <input id="email" type="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                                </div>
                            </div>

                            <div class="flex items-center justify-end mt-2">
                                <div class="text-xs leading-5">
                                    Si recuerda su contraseña puede
                                    <a href="/signin" class=" text-xs font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                                        Iniciar Sesi&oacute;n
                                    </a>
                                </div>
                            </div>
                            <div class="mt-6">
                                <span class="block w-full rounded-md shadow-sm">
                                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                        Enviar Instruciones
                                    </button>
                                </span>
                            </div>
                        </form>*@
                    <EditForm Model="Model" OnValidSubmit="@((context) => ForgotPassword(context))" @attributes="formcss" OnInvalidSubmit="OnFinishFailed">
                        <FluentValidator></FluentValidator>
                        <div>
                            <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
                                Email
                            </label>
                            <FInputText @bind-Value="Model.Email" AdditionalAttributes="@(new Dictionary<string, object> {{"email", "email" }, { "autocomplete","off"} })" />
                            <FCustomValidationMessage For="@(() => Model.Email)" Class="mt-2 font-semibold text-red-600" />
                        </div>
                        <div class="flex items-center justify-end mt-2">
                            <div class="text-xs leading-5">
                                Si recuerda su contraseña puede
                                <a href="/signin" class=" text-xs font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                                    Iniciar Sesi&oacute;n
                                </a>
                            </div>
                        </div>
                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                    Enviar Instruciones
                                </button>
                            </span>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1 sm:bg-indigo-500 sm:bg-repeat"
         style="background-image: url('img/background.png')">
        <div class="flex flex-col items-center min-h-screen">
            <div class="flex-grow items-end py-20">
                <h2 class="text-white text-5xl font-semibold tracking-wide py-5">Project-F</h2>
                <div class="mt-2 text-3xl">
                    <span class="text-white text-base">
                        Restablesca
                    </span>
                    <span class="text-white text-base">
                        su contraseña
                    </span>
                </div>
            </div>
            <svg class="object-none object-right-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#6366f1"
                      fill-opacity="1"
                      d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </div>
    </div>
</div>

@code {
    public Dictionary<string, object> formcss =
        new Dictionary<string, object> { { "class", "bg-white px-4 pt-1 pb-8 mb-2" } };
}
