@page "/categories"
@inherits CategoryContainerHandler
@using Models
@using AntDesign.core
@using ProjectF.WebUI.Components.Common

<SectionTitle Title="Categorias"
              Subtitle="Define las categorias para tus productos o servicios"
              OnClickAddButton="() => OpenDrawerForAdd(GetNewModelOrEdit())" />

<CategoryList Elements="Elements"
              OnClickDrawerEdit="OpenDrawerForEdit"
              OnClickDelete="Delete"/>
<div>
    <Drawer Closable="true" Width="425" Visible="IsDrawerVisible" Title='($"{(IsEditing ? "Editar Categoria" : "Crear Categoria")}")' OnClose="CloseDrawer">
        <Template style="height:90%"> 
            <EditForm Model="_model" OnValidSubmit="@((context) => OnFinish(context, _model.Id))" @attributes="formcss" OnInvalidSubmit="OnFinishFailed">

                <FluentValidator></FluentValidator>
                <div class="mb-4">
                    <FLabel Value="Nombre" LabelFor="Name" />
                    <FInputText @bind-Value="_model.Name" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Name)" Class="mt-2 font-semibold text-red-600" />
                </div>
                <div class="mb-6">
                    <FLabel Value="Mostrar" LabelFor="ShowOn" />
                    <Switch @bind-Value="_model.ShowOn" />

                </div>
                <FDivider />
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    @($"{(IsEditing ? "Editar" : "Guardar")}")
                </button>
            </EditForm>
        </Template>
       
    </Drawer>
</div>


@code{
   public Dictionary<string, object> formcss = 
        new Dictionary<string, object> { { "class", "bg-white px-4 pt-1 pb-8 mb-2" } };
}